{% extends "layouts/HigherAuthority/commonlayouthigherauthority.html" %}

{% block heading %}Dashboard Higher Authority {% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
            <div class="row">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12">
                        <div class="card"; style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border:2px solid #fff;border-radius:10px;background: linear-gradient(to right top, #d16ba5, #ca6eb3, #c073c0, #b378cd, #a37ed9, #9883e0, #8b89e7, #7d8eed, #7694f1, #6e9af5, #679ff8, #5fa5fb); margin-top: 2%; margin-left: 2%;">
                            <div class="card-body">
                                <b style=" margin-left: 3%; color:#161313;font-weight:500%;font-weight:400;font-size:17px font-weight-bold text-secondary;" class="card-title">TOTAL DOCUMENTS</b>
                                <hr>
                                <div style="display:flex;justify-content:space-between;">
                                    <i style="color:#161313;font-size:24px;" class="fa fa-book" aria-hidden="true"></i>
                                    <p style="color:#161313;font-size:18px;">100</p>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12">
                        <div class="card"; style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border:2px solid #fff;border-radius:10px;background:linear-gradient(to right top, #d16ba5, #ca6eb3, #c073c0, #b378cd, #a37ed9, #9883e0, #8b89e7, #7d8eed, #7694f1, #6e9af5, #679ff8, #5fa5fb); margin-top: 2%; margin-left: 2%;">
                            <div class="card-body">
                                <b style="color:#161313;font-weight:500%;font-weight:400;font-size:17px font-weight-bold text-secondary; margin-top: 2%; margin-left: 2%;" class="card-title">PENDING DOCUMENTS</b>
                                <hr>
                                <div style="display:flex;justify-content:space-between;">
                                    <i style="color:#161313;font-size:24px;" class="fa fa-book" aria-hidden="true"></i>
                                    <p style="color:#161313;font-size:18px;">50</p>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12">
                        <div class="card"; style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border:2px solid #fff;border-radius:10px;background: linear-gradient(to right top, #d16ba5, #ca6eb3, #c073c0, #b378cd, #a37ed9, #9883e0, #8b89e7, #7d8eed, #7694f1, #6e9af5, #679ff8, #5fa5fb); margin-top: 2%; margin-left: 2%;">
                            <div class="card-body">
                                <b style="color:#161313;font-weight:500%;font-weight:400;font-size:17px font-weight-bold text-secondary; margin-top: 2%; margin-left: 2%;" class="card-title">APPROVED DOCUMENTS</b>
                                <hr>
                                <div style="display:flex;justify-content:space-between;">
                                    <i style="color:#161313;font-size:24px;" class="fa fa-book" aria-hidden="true"></i>
                                    <p style="color:#161313;font-size:18px;">76</p>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12">
                        <div class="card"; style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border:2px solid #fff;border-radius:10px;background: linear-gradient(to right top, #d16ba5, #ca6eb3, #c073c0, #b378cd, #a37ed9, #9883e0, #8b89e7, #7d8eed, #7694f1, #6e9af5, #679ff8, #5fa5fb);margin-top: 2%; margin-left: 2%;">
                            <div class="card-body">
                                <b style="color:#161313;font-weight:500%;font-weight:400;font-size:17px font-weight-bold text-secondary; margin-top: 2%; margin-left: 2%;" class="card-title">REJECTED DOCUMENTS</b>
                                <hr>
                                <div style="justify-content:space-between;">
                                    <i style="color:#161313;font-size:24px;" class="fa fa-book" aria-hidden="true"></i>
                                    <p style="color:#161313;font-size:18px;">10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="content">
                            <div class="container-fluid"> 
                                <div class="col-lg-12">
                                    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border:2px solid #fff; border-radius:10px;background: linear-gradient(to right top, #d16ba5, #ca6eb3, #c073c0, #b378cd, #a37ed9, #9883e0, #8b89e7, #7d8eed, #7694f1, #6e9af5, #679ff8, #5fa5fb); margin-top: 2%">
                                        <div class="card-body">
                                           <div>
                            <div class="card" style="margin-top: 1%;">
                                <div class="row">
                                    <i style="color:#ffffff;font-size:24px; margin-left: 1%;" class="fa fa-check" aria-hidden="true"></i>
                                    <p style="color:#ffffff;font-size:18px; margin-left: 1%;margin-top: 1%; color:black;"><b>Course Documents</b></p>
                                    <button class="btn btn-danger active" name="validate1" style="margin-top: 1%; margin-left: 48%; margin-bottom: 1%;">validate</button>

                                    <button class="btn btn-danger active" name="validate1" style="margin-top: 1%; margin-left: 10%; margin-bottom: 1%;">Delete</button>
                                </div>
                            </div>
                            
                            <div class="card" style="margin-top: 1%;">
                               <div class="row">
                                    <i style="color:#ffffff;font-size:24px; margin-left: 1%;" class="fa fa-file" aria-hidden="true"></i>
                                    <p style="color:#ffffff;font-size:18px; margin-left: 1%; margin-top: 1%; color:black;"><b>Result Analysis</b></p>
                                    <button class="btn btn-danger active" name="validate2" style="margin-top: 1%; margin-left: 50%; margin-bottom: 1%;">validate</button>
                                    <button class="btn btn-danger active" name="validate1" style="margin-top: 1%; margin-left: 10%; margin-bottom: 1%;">Delete</button>
                                </div>

                            </div>
                            
                            <div class="card" style="margin-top: 1%;">
                                <div class="row">
                                    <i style="color:#ffffff;font-size:24px; margin-left: 1%;" class="fa fa-file" aria-hidden="true"></i>
                                    <p style="color:#ffffff;font-size:18px; margin-left: 1%; color:black;"><b>Paper Analysis</b></p>
                                    <button class="btn btn-danger active" name="validate3" style="margin-top: 1%; margin-left: 50%; margin-top: 1%; margin-bottom: 1%;">validate</button>
                                    <button class="btn btn-danger active" name="validate1" style="margin-top: 1%; margin-left: 10%; margin-bottom: 1%;">Delete</button>
                                </div>
                            </div>
                            
                            <div class="card" style="margin-top: 1%;">
                                <div class="row">
                                    <i style="color:#ffffff;font-size:24px; margin-left: 1%;" class="fa fa-window-close" aria-hidden="true"></i>
                                    <p style="color:#ffffff;font-size:18px; margin-left: 1%;margin-top: 1%; color:black;"><b>Assignments</b></p>
                                    <button class="btn btn-danger active" name="validate4" style="margin-top: 1%; margin-left: 51%; margin-bottom: 1%;">validate</button>
                                    <button class="btn btn-danger active" name="validate1" style="margin-top: 1%; margin-left: 10%; margin-bottom: 1%;">Delete</button>
                                </div>
                            </div>     
                        
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                        

                     
                            </div>
                        </div>
                </div>    
    </div>
</div>
<script>

    
    


{% endblock %}