{% extends "layouts/Staffs/commonlayoutstaffs.html" %}
{% block heading %}Course Documents{% endblock %}

{% block content %}
<div class="card" style="margin-top: 1%;">
  <div class="content">
      <div class="container-fluid">
          <div class="row" style="margin-left:3%; margin-top: 3%; ">
              <div style="margin-left:3%; margin-top: 3%; ">
                <select name="course" id="year" style="width:15rem;height:2rem;margin-right: 20px; ">
                  <option selected disabled>SELECT COURSE</option> 
                  <option>PYTHON</option>
                  <option >AUTOMETA THEORY</option>
                  <option >BIOGDATA</option>
                  <option >ML</option>              
                </select>
               </div>
                
             <div style="margin-left:3%; margin-top: 3%; ">
                <select name="class" id="year" style="width:15rem;height:2rem;margin-right: 20px; ">
                  <option selected disabled>SELECT CLASS</option> 
                  <option>FE</option>
                  <option >SE</option>
                  <option >TE</option>
                  <option >BE</option>              
                </select>
               </div>

              <div style="margin-left:3%; margin-top: 3%; ">
                <select name="semister" id="year" style="width:15rem;height:2rem;margin-right: 20px; ">
                  <option selected disabled>SELECT SEMISTER</option> 
                  <option>SEM I</option>
                  <option >SEM II</option>
                  <option >SEM III</option>
                  <option >SEM IV</option>   
                  <option >SEM V</option>      
                  <option >SEM VI</option>      
                  <option >SEM VIII</option>                 
                </select>
               </div>
          </div>
      </div>
      
    <!--card-->   
    <div class="row" style="margin-top: 2%;">
      <div class="col-md-5" style="margin-left:3%;">
       <div class="card shadowforcards" style="display:flex;justify-content:space-between;background-image: #ffffff;border:2px solid black;">
        <div>
          <img  style="shadow-sm p-4 mb-5 bg-black rounded"  src="/static/IMG/course.png" class="card-img-top" alt="" class="rounded-pill">
        </div>
        <!--card body-->

        <form action="" method="POST" enctype="multipart/form-data">
            <div class="card-body">
              <div class="row" style="margin-top: 1%; margin-left: 1%;">
                <h4 class="card-title"><b>Course Objective</b></h4>
                <input type="file" name="uploadobjective" size=20>
                <button class="btn btn-primary" type="submit" >Upload</button>
                <!--<p>file uploaded sucessfully</p>
                <p>File Name: {{name}}</p> --> 
              </div>
            </div>
          </form>
        </div>
      </div>

      <!--card 2-->
      <div class="col-md-5" style="margin-left:3%;">
       <div class="card shadowforcards" style="display:flex;justify-content:space-between;background-image: #ffffff;border:2px solid black;">
        <div>
          <img  style="shadow-sm p-4 mb-5 bg-black rounded"  src="/static/IMG/course.png" class="card-img-top" alt="" class="rounded-pill">
        </div>
        <!--card body-->
          <form action="" method="POST" enctype="multipart/form-data">
            <div class="card-body">
              <div class="row" style="margin-top: 1%; margin-left: 1%;">
                <h4 class="card-title"><b>Course Documents</b></h4>
                <input type="file" name="uploadobjective" size=40 >
                <button class="btn btn-primary" type="submit" value="upload course">Upload</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
   </div>
</div>

{% endblock %}
 

