{% extends "layouts/Staffs/commonlayoutstaffs.html" %}
{% block heading %}User profile{% endblock %}
{% block content %}

<div class="content">
	<div class="container">
        <div class="card">
            <div class="row">
            <div class="col-lg-12 ">
                <div class="shadowcards" style="margin-top: 2%; background-color: white;">
                        <div class="card-header" style="background-color: white;"><b>Paper_Analysis</b></div>
                        <form action="" method="POST" enctype="multipart/form-data">
                            <div class="card-body">
                                 <table id="table_schedule" class="table table-hover table-striped table.active justify-content: space-evenly;">
                                        <thead style="border-top: 2px solid black;border-bottom: 2px solid black;" >
                                        <thead style="border-top: 2px solid black;border-bottom: 2px solid black;" >
                                            <th>Question_Paper_Type</th>
                                            <th>Question_Paper</th>
                                            <th>Question_Paper_Analysis</th>
                                            <th>class</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Minor I</td>
                                                <td><input type="file" name="minor1" style="margin-left: 10%"></td>
                                                <td><input type="file" name="minor1"  style="margin-left: 10%"></td>
                                                <td> 
                                                    <button type="Submit" name="submit1" class="btn btn-primary">Submit</button>
                                                    
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Minor II</td>
                                                <td><input type="file" name="minor1" style="margin-left: 10%"></td>
                                               <td><input type="file" name="minor1" style="margin-left: 10%"></td>
                                                <td>
                                                    <button type="Submit" name="submit2" class="btn btn-primary">Submit</button>
                                                </td>
                                            </tr>

                                             <tr>
                                                <td>Minor III</td>
                                                <td><input type="file" name="minor1" style="margin-left: 10%"></td>
                                                <td><input type="file" name="minor1" style="margin-left: 10%"></td>
                                                <td>
                                                    <button type="Submit"  name="submit3" class="btn btn-primary">Submit</button>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td>Term Work</td>
                                                <td><input type="file" name="minor1" style="margin-left: 10%"></td>
                                                <td>
                                                    <input type="file" name="minor1" style="margin-left: 10%;"></td>
                                                <td>
                                                    <button type="Submit" name="submit4" class="btn btn-primary">Submit</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>

        </div>
		
	</div>
</div>

{% endblock %}