{% extends "layouts/Staffs/commonlayoutstaffs.html" %}
{% block heading %}Result Analysis{% endblock %}
{% block content %}
<div class="content">
	<div class="container-fluid">
		<div class="card shadowforcards" style="display:flex;justify-content:space-between;background-image: linear-gradient(to bottom, #b56bd1, #ae71d6, #a776db, #a07bdf, #9980e3, #967fe6, #937fea, #8f7eed, #9077f1, #9270f5, #9568f8, #995ffb);border:2px solid black;">
			<div class="card shadow-lg p-3 mb-5 bg-black  rounded" style="margin-top: 1%; margin-left: 2%; margin-right: 2%; border:2px solid black;">
				<div class="row">
			        <div class="col-lg-12" style="margin-top: 1%;">
			            <div class="card-body">
			            	<center><h4 class="card-title" ><b>RESULT OF MINOR 1</b></h4></center>    
			                <button class="btn btn-primary" style="margin-left: 40%; margin-top: 1%">Upload Minor 1 Result</button>                        
			             </div>
			        </div>
			    </div>
			</div>
			

			<!--card 2-->
			<div class="card shadow-lg p-3 mb-5 bg-black  rounded" style="margin-top: 1%; margin-left: 2%; margin-right: 2%; border:2px solid black;">
				<div class="row">
			        <div class="col-lg-12">
			            <div class="card-body">
			            	<center><h4 class="card-title" ><b>RESULT OF MINOR 2</b></h4></center>    
			                <button class="btn btn-primary" style="margin-left: 40%; margin-top: 1%">Upload Minor 2 Result</button>                        
			             </div>
			        </div>
			    </div>
			</div>
			<!-- card 3-->
			<div class="card shadow-lg p-3 mb-5 bg-black  rounded" style="margin-top: 1%; margin-left: 2%; margin-right: 2%; border:2px solid black;">
				<div class="row">
			        <div class="col-lg-12">
			            <div class="card-body">
			            	<center><h4 class="card-title" ><b>RESULT OF MINOR 3</b></h4></center>    
			                <button class="btn btn-primary" style="margin-left: 40%; margin-top: 1%">Upload Minor 3 Result</button>                        
			             </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}