{% extends "layouts/Staffs/commonlayoutstaffs.html" %}
{% block heading %}Syllabus Documents{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="card" style="margin-top: 1%;">
            <div class="card" style="margin-top: 2%; margin-left: 2%; margin-right: 2%;border:2px solid black;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-body">
                                <div class="row">
                                    <center><h4 class="card-title" ><b>Syllabus</b></h4></center>
                                        <div class="dropdown" style="margin-left: 3%;">
                                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Select Course
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Python</a>
                                            <a class="dropdown-item" href="#">Data Structure</a>
                                            <a class="dropdown-item" href="#">Autometa Theory</a>
                                            <a class="dropdown-item" href="#">Machine Learning</a>
                                            </div>
                                        </div>
                                        <div class="dropdown" style="margin-left: 3%;">
                                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="margin-left:10%;">
                                            Select class
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">FE</a>
                                                <a class="dropdown-item" href="#">SE</a>
                                                <a class="dropdown-item" href="#">TE</a>
                                                <a class="dropdown-item" href="#">BE</a>
                                            </div>
                                        </div>
                                        <div class="dropdown" style="margin-left: 3%;">
                                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false"style="margin-left:30%;">
                                            Select Semister
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Sem I</a>
                                                <a class="dropdown-item" href="#">Sem II</a>
                                                <a class="dropdown-item" href="#">Sem III</a>
                                                <a class="dropdown-item" href="#">Sem IV</a>
                                                <a class="dropdown-item" href="#">Sem V</a>
                                                <a class="dropdown-item" href="#">Sem VI</a>
                                                <a class="dropdown-item" href="#">Sem VII</a>
                                                <a class="dropdown-item" href="#">Sem VIII</a>
                                            </div>
                                        </div>
                                    </div>
                                    <center>
                                    <div class="row-2" style="margin-top: 4%;">
                                     <button class="btn btn-primary" style="margin-left: 10%">Upload Syllabus</button>
                                     <button class="btn btn-primary">View Syllabus</button>
                                     <button class="btn btn-primary" >Download Syllabus</button>
                                    </div>
                                    </center>
                                </div>
                            </div>
                         </div>
                    </div>
              </div>

            <!--card2-->
            <div class="card shadow-lg p-3 mb-5 bg-black  rounded" style="margin-top: 2%; margin-left: 2%; margin-right: 2%; border:2px solid black;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-body">
                                <div class="row">
                                    <center><h4 class="card-title" ><b>Books</b></h4></center>
                                        <div class="dropdown" style="margin-left: 3%;">
                                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Select Course
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Python</a>
                                            <a class="dropdown-item" href="#">Data Structure</a>
                                            <a class="dropdown-item" href="#">Autometa Theory</a>
                                            </div>
                                        </div>
                                        <div class="dropdown" style="margin-left: 3%;">
                                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="margin-left:10%;">
                                            Select class
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">FE</a>
                                                <a class="dropdown-item" href="#">SE</a>
                                                <a class="dropdown-item" href="#">TE</a>
                                                <a class="dropdown-item" href="#">BE</a>
                                            </div>
                                        </div>
                                        <div class="dropdown" style="margin-left: 3%;">
                                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false"style="margin-left:30%;">
                                            Select Semister
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Sem I</a>
                                                <a class="dropdown-item" href="#">Sem II</a>
                                                <a class="dropdown-item" href="#">Sem III</a>
                                                <a class="dropdown-item" href="#">Sem IV</a>
                                                <a class="dropdown-item" href="#">Sem V</a>
                                                <a class="dropdown-item" href="#">Sem VI</a>
                                                <a class="dropdown-item" href="#">Sem VII</a>
                                                <a class="dropdown-item" href="#">Sem VIII</a>
                                            </div>
                                        </div>
                                    </div>
                                    <center>
                                    <div class="row-2" style="margin-top: 4%;">
                                     <button class="btn btn-primary" style="margin-left: 10%">Upload Books</button>
                                     <button class="btn btn-primary">View Books</button>
                                     <button class="btn btn-primary" >Download Books</button>
                                    </div>
                                    </center>
                                </div>
                            </div>
                         </div>     
                    </div>
              </div>

            <!--card 3-->
            <div class="card shadow-lg p-3 mb-5 bg-black  rounded" style="margin-top: 1%; margin-left: 2%; margin-right: 2%; border:2px solid black;">
	            <div class="row">
                    <div class="col-lg-12">
                        <div class="card-body">
                            <center><h4 class="card-title" ><b>Assignments</b></h4></center>    
                            <div class="row">
                                <p><b>1.Assignment 1</b></p>       
                                <button class="btn btn-primary" style="margin-left: 50%;">Upload Assignment</button>                        
                            </div>
                            <div class="row" >
                                <p><b>2.Assignment 2</b></p>       
                                <button class="btn btn-primary" style="margin-left: 50%; margin-top: 1%;">Upload Assignment</button>                        
                            </div>
                            <div class="row">
                                <p><b>3.Assignment 3</b></p>       
                                <button class="btn btn-primary" style="margin-left: 50%; margin-top: 1%;">Upload Assignment </button>                        
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>
    
        
{% endblock %}
 

